@media only screen and (min-width: 769px) {
  .container {
    height: 100vh;
    width: 100vw;
    background-color: #041325;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    height: 82vh;
    width: 90vw;
    background-color: #ffffff;
    margin: 9vh 5vw;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px #00000026;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1 {
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
  }
  .questionNo {
    color: #474444;
    font-weight: 600;
    font-size: 2em;
    margin-left: 3vw;
  }
  .timer {
    color: #d60000;
    font-weight: 600;
    font-size: 2em;
    margin-right: 3vw;
  }
  .section2 {
    margin-top: 2vh;
    text-align: center;
  }
  .question {
    color: #474444;
    font-size: 2em;
    font-weight: 600;
  }
  .section3 {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: space-between;
    margin-top: -3vh;
  }
  .optionBoxText {
    background-color: #f0f0f0;
    height: 12vh;
    width: 20vw;
    margin-top: 10vh;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  .optionTypeImage {
    background-color: #f0f0f0;
    height: 15vh;
    width: 20vw;
    margin-top: 10vh;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  .optionTextAndImage {
    background-color: #f0f0f0;
    height: 15vh;
    width: 20vw;
    margin-top: 10vh;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  .textType {
    line-height: 12vh;
  }
  .imageType {
    width: 20vw;
    height: 15vh;
    border-radius: 10px;
  }
  .thirdType {
    display: flex;
  }
  .thirdTypeText {
    width: 9vw;
    line-height: 15vh;
  }
  .thirdTypeImage {
    width: 10vw;
    height: 13vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
  }
  .section4 {
    margin-top: 2vh;
    text-align: center;
  }
  .nextBtn {
    color: #ffffff;
    background-color: #60b84b;
    border-radius: 10px;
    border: none;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 20vw;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 2vh;
    cursor: pointer;
  }
}
/* Styling for Mobile */
@media only screen and (max-width: 768px) {
  .container {
    background: transparent;
    height: 0vh;
    width: 0vw;
  }
  .box {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
  }
  .section1 {
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
  }
  .questionNo {
    color: #474444;
    font-weight: 600;
    font-size: 1em;
    margin-left: 4vw;
  }
  .timer {
    color: #d60000;
    font-weight: 600;
    font-size: 1em;
    margin-right: 4vw;
  }
  .section2 {
    margin-top: 2vh;
    text-align: center;
  }
  .question {
    color: #474444;
    font-size: 2em;
    font-weight: 600;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    word-wrap: break-word;
  }
  .section3 {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .optionBoxText {
    background-color: #f0f0f0;
    height: 7vh;
    width: 86vw;
    margin-top: 5vh;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  .optionTypeImage {
    background-color: #f0f0f0;
    height: 10vh;
    width: 86vw;
    margin-top: 5vh;
    cursor: pointer;
    border-radius: 10px;
  }
  .optionTextAndImage {
    background-color: #f0f0f0;
    height: 16vh;
    width: 86vw;
    margin-top: 5vh;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
  }
  .textType {
    line-height: 7vh;
  }
  .imageType {
    width: 86vw;
    height: 10vh;
    border-radius: 10px;
  }
  .thirdType {
    display: flex;
  }
  .thirdTypeText {
    width: 35vw;
    line-height: 16vh;
    text-align: center;
  }
  .thirdTypeImage {
    height: 14vh;
    width: 43vw;
    margin-left: 5vw;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
  }
  .section4 {
    margin-top: 2vh;
    text-align: center;
  }
  .nextBtn {
    color: #ffffff;
    background-color: #60b84b;
    border-radius: 10px;
    border: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 80vw;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 5vh;
    cursor: pointer;
  }
}
